body {
        background-color: rgb(37, 27, 97); 
        margin-top: 20px;
        text-align: center;
        font-family: Arial;
        color: rgb(255, 248, 248);
      }

      section {
        border-radius: 20px;
        background-color: black;
        padding-bottom: 30px;
        padding-top: 30px;
        margin: 20px;

      }

      img {
        width: 500px;
        border-radius: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      text{
        text-align: center;

      }

     